[submodule "blog"]
	path = blog
	url = git@github.com:Kalinin-Andrey/blog.git
[submodule "user-balance"]
	path = user-balance
	url = git@github.com:Kalinin-Andrey/user-balance.git
[submodule "socbazar"]
	path = socbazar
	url = git@github.com:Kalinin-Andrey/ba.git
